

body{
    font-family: "Montserrat", sans-serif;
}

button {
    border:none;
    background-color:transparent;
    outline:none;
 }

h1{
    font-family: 'Hind', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

h2{
    font-family: "Hind", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Hind", sans-serif;
    font-weight: bolder;
}

#title{
    background-color:#ff4c68;
}

#features{
    padding: 5% 20%;
}


.nav-item{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.image {
    border: 0;
    background:transparent;
  }

#iphone-image{
    transform: rotate(20deg);
    max-width: 60%;
    max-height: auto;
}

#title-background{
    padding: 50px 50px;
}

.icons{
    color: #ff8093;
    font-size: 5rem;
    margin-bottom: 2%;
}
.icons:hover{
    color: #ff4c68;
}

.icon-rows{
    margin-top: 4%;
    margin-bottom: 4%;
}

#testimonials{
    background-color:#ff8093;
    text-align: center;
    color: #fff;
    font-family: "Hind", sans-serif;
}

.testimonial-image{
    border-radius: 100%;
}

.testimonial-location{
    padding: 2%;
    font-size: 1.5rem;
    color: #ddced0;
}

.carousel-item {
    padding: 2% 10%;

}

#press{
    background-color: #ff8093;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 200px;
    height: auto;
    margin: 50px 50px 20px;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239c0707' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    
    height: 50px !important;
    width: 50px !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239c0707' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
     
    height: 50px !important;
    width: 50px !important;
   }

   .card-title{
       color: #54595e ;
   }
   .card-deck{
       padding: 50px 500px;
       font-family: 'Ubuntu', sans-serif;
   }

   .card-header{
       background-color: #f04962;
   }
   .my-0{
       font-size: 2rem;       
   }
   .card-deck .card{
       margin: 10px 80px 10px;
   }

   .display-4{
       color: #54595e ;
   }